@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.home{
    width: 100%;
    background-color:rgba(29,25,52,255) ;
    color: white;
}

.style_table{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.table{
    width: 1000px;
    border-collapse:collapse;
    border-color: transparent;
    background-color: #1d1f55;
    border-radius: 10px;
    line-height: 40px;
}

table th{
    text-align: left;
    font-size: 10px;
    color: #7b7f97;
}

.assets_cryptos{
    text-transform: uppercase;
    font-family:"Open Sans", sans-serif ;
    font-size: 12px;
    display: table-row;
}

.button_pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 15px;
}

.button_page{
    width: 150px ;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(to right, #11122d, #1e2057);
    cursor: pointer;
}